/target/
/src/main/mona/.vs/
/src/main/mona/nestingbirds/Debug/
/src/main/mona/nestingbirds/Release/
/src/main/mona/nestingbirds/nestingbirds.vcxproj.user
/src/main/mona/common/*.o
/src/main/mona/mona/*.o
/src/main/mona/nestingbirds/*.o
/src/main/mona/sensor_discriminator/.vs/
/src/main/mona/sensor_discriminator/Eigen/
/src/main/mona/sensor_discriminator/pattern_detector.vcxproj.user
/src/main/mona/sensor_discriminator/x64/
/src/main/mona/sensor_discriminator/*.o

