/target/
/src/main/mona/.vs/
/src/main/mona/nestingbirds/Debug/
/src/main/mona/nestingbirds/Release/
/src/main/mona/nestingbirds/nestingbirds.vcxproj.user
/src/main/mona/common/*.o
/src/main/mona/mona/*.o
/src/main/mona/nestingbirds/*.o
/src/main/mona/pattern_detector/.vs/
/src/main/mona/pattern_detector/Eigen/
/src/main/mona/pattern_detector/pattern_detector.vcxproj.user
/src/main/mona/pattern_detector/x64/
/src/main/mona/pattern_detector/*.o

